.btn {
  padding: 10px;
  height: 40px;
  background: #fff;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;

  &:active {
    background: darkcyan;
    color: #fff;
  }
}
