@import "../variables.scss";
.addPost {
  position: fixed;
  top: $navbarHeight;
  height: $postsHeight;
  z-index: 100;
  left: 0;
  right: 0;
  background: darkslategrey;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: left;
  align-items: center;
  h1 {
    margin: 0 20px;
    color: #fff;
  }

  .searh__input {
    margin-left: 20px;
    width: 300px;
  }
}


.post__container {
  padding-left: 20px;
  position: absolute;
  background: darkslategrey;
  top: $navbarHeight  + $postsHeight;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  h1 {
    color: #fff;
    text-align: center;
  }
}
