* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  .btn {
    padding: 10px;
    height: 40px;
    background: #fff;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;

    &:active {
      background: darkcyan;
      color: #fff;
    }
  }
  .current {
    background: darkcyan;
    color: #fff;
  }
}
